<!--< th:replace="{Admin/Adminbase::layout({::main})}">


<body>
	<main>
		

		<head>
			
			<title>Change Password</title>
		</head>

		<body
			style="margin: 0; padding: 0; background-image: url('background.jpg'); background-size: cover; background-position: center; font-family: sans-serif; color: white;">

			<div
				style="background: rgb(0, 128, 64); max-width: 400px; margin: 100px auto; padding: 30px; border-radius: 10px;">
				<div style="text-align: center;">
					<img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="User Icon"
						style="width: 80px; height: 80px;">
					<h2>Change a password</h2>
				</div>
				<form>
					<label for="username">Tashreef</label><br><br>

					<label for="old">Old password</label><br>
					<input type="password" id="old" name="old"
						style="width: 100%; padding: 10px; margin: 5px 0 15px;"><br>

					<label for="new">New password</label><br>
					<input type="password" id="new" name="new"
						style="width: 100%; padding: 10px; margin: 5px 0 15px;"><br>

					<label for="confirm">Confirm password</label><br>
					<input  type="password" id="confirm" name="confirm"
						style="width: 100%; padding: 10px; margin: 5px 0 20px;"><br>

					<button type="submit"
						style="width: 100%; padding: 10px; background-color: rgb(64, 0, 64); color: white; border: none; border-radius: 5px;">ChangePassword</button>
				</form>
				<p style="text-align: center; margin-top: 15px;">Create a password reset disk</p>
				<p style="text-align: center;"><button
						style="background: none; border: none; color: #ccc;">Cancel</button></p>
			</div>

		</body>

	

	</main>
</body>

</html>-->

<html th:replace="~{Admin/Adminbase::layout(~{::main})}">

<body>
	<main>
		<div class="row">
			<div class="col-sm-5 mx-auto">
				<div class="card border-0 shadow">
					<div class="card-header bg-success p-0 text-white">
						<h3 class="fw-bold text-center">Update Password</h3>
					</div>
					<div class="card-body">
						<form method="post" >
							<label class="mt-3 fw-bold">Enter Current Password</label>
							<input name="oldPassword" type="password" placeholder="Enter Current Password" required="requird"
								class="form-control rounded-0 border border-2 border-primary"  />
							<label class="mt-3 fw-bold">Enter New Password</label>
							<input  name="newPassword" type="password" placeholder="Enter New Password" required="requird"
								class="form-control rounded-0 border border-2 border-primary" />
								<label class="mt-3 fw-bold">Enter Confirm Password</label>
							<input name="confirmPassword" type="password" placeholder="Confirm Password" required="requird"
								class="form-control rounded-0 border border-2 border-primary" />
							<div class="text-center">
								<button type="submit" class="btn btn-success mt-5 px-4">Update Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>