<html th:replace="~{base::layout(~{::main})}">

<body>
	<main>
		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="images/hero_1.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="images/hero_2.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="images/hero_3.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="images/hero_4.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="images/hero_5.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<h5 class="text-center text-success mt-5">SERVICES </h5>
		<h3 class="text-center">
			Providing Fresh Produce Every Single Day
		</h3>

		<!--start-->
		<div class="row my-3">
			<div class="col-sm-11 mx-auto">

				<div class="row mt-5">
					<div class="col-sm-3">
						<div class="card h-100 shadow border-0">
							<img src="images/img_sq_8.jpg" class="card-img-top" alt="..." height="250vh">

						</div>
					</div>
					<div class="col-sm-3">
						<div class="card h-100 shadow border-0">
							<img src="images/img_sq_6.jpg" class="card-img-top" alt="..." height="250vh">

						</div>
					</div>
					<div class="col-sm-3">
						<div class="card h-100 shadow border-0">
							<img src="images/img_sq_6.jpg" class="card-img-top" alt="..." height="250vh">

						</div>
					</div>
					<div class="col-sm-3">
						<div class="card h-100 shadow border-0">
							<img src="images/img_sq_6.jpg" class="card-img-top" alt="..." height="250vh">

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end-->
		<!--start-->
		<div class="row py-3 mt-5" style="background-color:rgb(0, 128, 64);">
			<div class="col-sm-10 mx-auto">
				<div classs="row">
					<div class="col-sm-6">
					</div>
					<div class="row pt-1">
						<div class="col-sm-4 text-white pt-5 text-center"><img src="images/b.jpg" alt="" height="450px"
								width="400px"><br><br>
						</div>

						<div class="col-sm-8 text-white text-justify">
							<p class="text-white pt-3">
							<h4 class="text-center text-dark">WHY CHOOSE US</h4>
							<h1 class="text-dark">Why AgriTrade Hub is the Smarter Choice</h1>
							<hr>AgriTrade Hub connects farmers directly with merchants, cutting out middlemen for better
							prices and faster trade. With a simple interface and secure transaction, we empower local
							farmers and support fair, sustainable agriculture.
							</p>
							<h3>
								<i class="fa-solid fa-cloud-rain"></i>
								Direct Marketplace
							</h3>

							<p class="text-white px-5">We bridge the gap farmers and merchants ensuring fair and
								transparent trade without middlemen.</p>
							<h3>
								<i class="fa-solid fa-heart"></i>
								Better Profits for Farmers
							</h3>

							<p class="text-white px-5">By selling directly, farmers earn more form their hard work while
								merchants get fresh product at competive rates.</p>
							<h3>
								<i class="fa-solid fa-house"></i>
								User-Frindly Platform
							</h3>

							<p class="text-white px-5">Simple, intuitive interface designed for all usersform
								small-scale
								farmers to large merchants.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		</div>
		<!--end-->
		<!--start-->
		<div class="row py-4">
			<div class="col-sm-11 mx-auto">
				<div class="row">
					<div class="col-sm-6">
						<h1 class="border-start border-success border-5 ps-2">Organic Farming</h1>

					</div>
				</div>
				<div class="row my-4">
					<div class="col-sm-3">
						<div class="card" style="width: 18rem;">
							<img src="images/image2.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Organic</h5>
								<p class="card-text">
									Fruits and vegetables produced through organic farming are more suitable for health
									as they do not contain harmful chemicals.</p>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card" style="width: 18rem;">
							<img src="images/former-1.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Organic</h5>
								<p class="card-text"> Organic farming maintains a natural balance by using essential
									elements properly and does not harm the environment.</p>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card" style="width: 18rem;">
							<img src="images/a.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Organic</h5>
								<p class="card-text">Organic farming ensures continuous crop production due to natural
									nutrition, contributing to the prosperity of fields.</p>

							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="card" style="width: 18rem;">
							<img src="images/b.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Organic</h5>
								<p class="card-text"> Fruits and vegetables produced through organic farming are
									suitable for health
									as they do not contain harmful chemicals.</p>

							</div>
						</div>
					</div>
					<div class="col-sm-3 my-5">
						<div class="card" style="width: 18rem;">
							<img src="images/c.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Organic</h5>
								<p class="card-text"> Organic farming maintains a natural balance by using essential
									elements properly and does not harm the environment.</p>

							</div>
						</div>
					</div>
					<div class="col-sm-3 my-5">
						<div class="card" style="width: 18rem;">
							<img src="images/i.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Organic</h5>
								<p class="card-text"> Organic farming ensures continuous crop production due to natural
									nutrition, contributing to the prosperity of fields.</p>

							</div>
						</div>
					</div>
					<div class="col-sm-3 my-5">
						<div class="card" style="width: 18rem;">
							<img src="images/f.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Organic</h5>
								<p class="card-text"> Organic farming maintains a natural balance by using essential
									elements properly and does not harm the environment.</p>

							</div>
						</div>
					</div>
					<div class="col-sm-3 my-5">
						<div class="card" style="width: 18rem;">
							<img src="images/h.jpg" class="card-img-top" alt="...">
							<div class="card-body">
								<h5 class="card-title">Organic</h5>
								<p class="card-text"> Fruits and vegetables produced through organic farming are
									suitable for health
									as they do not contain harmful chemicals.</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--end-->
		<!--start-->
		<div class="row my-4">
							<div class="col-sm-3">
								<div class="card" style="width: 18rem;">
									<img src="images/image2.jpg" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Organic</h5>
										<p class="card-text">
											Fruits and vegetables produced through organic farming are more suitable for health
											as they do not contain harmful chemicals.</p>

									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="card" style="width: 18rem;">
									<img src="images/former-1.jpg" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Organic</h5>
										<p class="card-text"> Organic farming maintains a natural balance by using essential
											elements properly and does not harm the environment.</p>

									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="card" style="width: 18rem;">
									<img src="images/a.jpg" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Organic</h5>
										<p class="card-text">Organic farming ensures continuous crop production due to natural
											nutrition, contributing to the prosperity of fields.</p>

									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="card" style="width: 18rem;">
									<img src="images/b.jpg" class="card-img-top" alt="...">
									<div class="card-body">
										<h5 class="card-title">Organic</h5>
										<p class="card-text"> Fruits and vegetables produced through organic farming are
											suitable for health
											as they do not contain harmful chemicals.</p>

									</div>
								</div>
							</div>
						</div>



		<!--end -->
		<!--start-->




		<!--end-->

	</main>
</body>

</html>