<html th:replace="~{base::layout(~{::main})}">
	<body>
		<main>
			<div class="row">
				<div class="col-sm-12 bg-success">
					<h1 class="text-center py-5">Merchant Login</h1>
				</div>
			</div>
			<div class="row py-4">
						<div class="col-sm-8 mx-auto">
							<div th:if="${msg}" class="alert w-75 mx-auto alert-warning alert-dismissible fade show" role="alert">
								<span th:text="${msg}"></span>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				                  </div>
							<form action="/MerchantLogin" method="post">
								<div class="card p-5 border border-success bg-success bg-opacity-50">
									<h3 class="text-center">Login Here</h3>
									<lable class="mt-3 fw-bold">Enter UserName (Email)</lable>
									<input type="email" name="email" placeholder="Username(email))..." required="required"
										class="form-control rounded-0 border border-2 border-success name">
									<br><br>
									<lable class="fw-bold">Enter Password</lable>
									<input type="password" name="password" placeholder="Password" required="required"
										class="form-control rounded-0 border border-2 border-success">
									<div class="text-center">
										<button type="submit" class="btn btn-success mt-5 px-4">
											Login
										</button>

									</div>
							</form>
						</div>
					</div>
					</div>
		</main>
	</body>
</html>