
<html th:replace="~{Merchant/Merchantbase::layout(~{::main})}">

<body>
	<main>
		<div class="row">
			<div class="col-sm-5 mx-auto">
				<div class="card border-0 shadow">
					<div class="card-header bg-success p-0 text-white">
						<h3 class="fw-bold text-center">Update Password</h3>
					</div>
					<div class="card-body">
						<form method="post" >
							<label class="mt-3 fw-bold">Enter Current Password</label>
							<input name="oldPassword" type="password" placeholder="Enter Current Password" required="requird"
								class="form-control rounded-0 border border-2 border-primary"  />
							<label class="mt-3 fw-bold">Enter New Password</label>
							<input  name="newPassword" type="password" placeholder="Enter New Password" required="requird"
								class="form-control rounded-0 border border-2 border-primary" />
								<label class="mt-3 fw-bold">Enter Confirm Password</label>
							<input name="confirmPassword" type="password" placeholder="Confirm Password" required="requird"
								class="form-control rounded-0 border border-2 border-primary" />
							<div class="text-center">
								<button type="submit" class="btn btn-success mt-5 px-4">Update Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>

</html>